@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  @apply transition-colors duration-200;
  scroll-behavior: smooth;
}

@layer components {
  .custom-button {
    @apply flex items-center rounded-full shadow-lg bg-background shadow-secondary/80 text-primary m-2 p-4 cursor-pointer hover:scale-110 hover:shadow-md hover:shadow-cta hover:rounded-3xl ease-in;
  }

  .custom-icon {
    @apply group-hover:text-cta ease-in;
  }

  .custom-text {
    @apply text-primary;
  }
}

.light {
  --background: 245, 245, 245;

  --border: 230, 230, 230;
  --card: 255, 255, 255;

  --primary: 23, 23, 23;
  --secondary: 115, 115, 115;
  --tertiary: 0, 128, 128; /* Example: teal */
  --highlight: 255, 165, 0; /* Example: orange */

  --cta: 139, 92, 246;
  --cta-active: 124, 58, 237;
  --cta-text: 255, 255, 255;

  --linkedin: 0, 119, 181;

  background: rgba(var(--background));
}

.dark {
  --background: 0, 0, 0;

  --border: 38, 38, 38;
  --card: 23, 23, 23;

  --primary: 250, 250, 250;
  --secondary: 115, 115, 115;
  --tertiary: 0, 206, 209; /* Example: turquoise */
  --highlight: 255, 215, 0; /* Example: gold */

  --cta: 16, 185, 129;
  /* --cta: 99, 102, 241; */

  --cta-active: 79, 70, 229;
  --cta-text: 255, 255, 255;

  --linkedin: 250, 250, 250;

  background: rgba(var(--background));
}

/* .red {
  --background: 254, 202, 202;

  --border: 185, 28, 28;
  --card: 239, 68, 68;

  --primary: 250, 250, 250;
  --secondary: 254, 226, 226;

  --cta: 250, 250, 250;
  --cta-active: 254, 226, 226;
  --cta-text: 239, 68, 68;

  background: rgba(var(--background));
} */
